.navbar {
    color: #fff;
    padding: 10px;
    display: flex;
}

.custom-link {
    font-weight: bold;       /* Hace que el texto sea negrilla */
    font-size: 30px;         /* Ajusta el tamaño de fuente según tus preferencias */
    color: #93c47d;          /* Establece el color de texto deseado */
    margin-top: 20px;
}

.navbar ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    display: flex; /* Convierte la lista en un contenedor flex */
    align-items: center; /* Centra verticalmente los elementos */
}

.navbar li {
    display: inline;
    margin-right: 20px;
    list-style: none; /* Quita los puntos de lista predeterminados */
    margin: 0 10px; /* Añade un margen a los elementos para espaciarlos */
}

.navbar a {
    text-decoration: none;
    text-align: right;
}
    

