<!DOCTYPE html>
<html>
<head>
    <title>Página principal</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/styleMainPage.css">
    <link rel="stylesheet" type="text/css" href="/static/styleNavbar.css">    
</head>
<body style="background-color: #d9d9d9ff;">
    <div class="navbar">
        <ul>
            <li><img src="/static/images/icon.png" width="50" style="margin-left: 20px;"></li>
            <li><a href="mainPage" class="custom-link">Desktop Cloud UQ</a></li>
            <li class="navbar-right"><a>{{.email}}</a></li>
            <li class="navbar-right"><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </div>
    <div class="container-page">
        <iframe src="scrollmenu" frameborder="0" scrolling="no" height="490vh" width="20%"></iframe>
        <iframe id="mainPageContent" src="welcome" scrolling="auto" height="490vh" width="80%"></iframe>
    </div> 
    <script>
        function cambiarContenido(contenido) {
            const inframeMainPageContent = document.getElementById("mainPageContent");
            inframeMainPageContent.src = contenido;
        }
    </script>
</body>
</html>
 